<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xyj.strokeaid">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="com.xyj.strokeaid.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.xyj.strokeaid.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!--NFC 相关权限-->
    <!--描述所需硬件特性-->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.chestpain.SurgicalPreparationActivtty" />
        <activity android:name=".activity.chestpain.ChestPainOperationInfoActivity" />
        <activity android:name=".activity.chestpain.ChestPainOperationResultActivity" />

        <activity android:name=".activity.chestpain.ChestPainEmptyActivity" />
        <activity android:name=".activity.common.ChildTreatCenterActivity" />
        <activity android:name=".activity.common.MaternalTreatCenterActivity" />
        <activity android:name=".activity.common.TraumaPatientActivity" />

        <!-- 供应商分配的渠道号 -->
        <meta-data
            android:name="NEOLIX_CHANNEL"
            android:value="N1290D00" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="cd8b3decfa001a11de74dc80c8e2e7e0" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NewPatientMedicalRecordActivity" />
        <activity android:name=".activity.stroke.StrokeOperationAfterActivity" />
        <activity android:name=".activity.stroke.StrokeOperationOnActivity" />
        <activity android:name=".activity.stroke.StrokeOperationBeforeActivity" />
        <activity android:name=".activity.detection.ImagingCheckActivity" />
        <activity android:name=".activity.detection.PatientArrivalCtActivity" />
        <activity
            android:name=".activity.detection.IllnessRecordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.stroke.EmergencyDoctorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.TriageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.set.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.StrokeMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.set.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.GreenChannelOutcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.EcgExamnationMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.ThrombolysisDocReceiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.ThrombolysisContraindicationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.ThrombolysisIndicationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.StrokeNihssActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.ThrombolysisInformedConsentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.StrokeThrombolysisIntravenousActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.ThrombolysisComplicationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.StrokeThriveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.ThrombolysisDelayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.common.PatientStrokeRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.stroke.VitalSignsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.stroke.PremorbidMrsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.stroke.FastEdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.stroke.GetInvolvedIndicationsActivity" />
        <activity android:name=".activity.stroke.GetInvolvedContraindicationsActivity" />
        <activity android:name=".activity.stroke.GetInvolvedInformedConsentActivity" />
        <activity android:name=".activity.stroke.AspectScoreActivity" />
        <activity android:name=".activity.set.ChangePasswordActivity" />
        <activity android:name=".activity.common.PatientChestPainRecordActivity" />

        <!--   高德定位service     -->
        <service android:name="com.amap.api.location.APSService" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="false" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name=".provider.BuglyFileProvider"
            android:authorities="com.xyj.strokeaid.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource"/>
        </provider>

        <activity android:name=".activity.stroke.StrokeMrsScoreActivity" />
        <activity android:name=".activity.stroke.StrokeGcsScoreActivity" />
        <activity android:name=".activity.stroke.StrokeSpetzlerMarinActivity" />
        <activity android:name=".activity.stroke.StrokeHuntHessActivity" />
        <activity android:name=".activity.stroke.StrokeHasBledScoreActivity" />
        <activity android:name=".activity.stroke.StrokeFrogFieldEvaluateActivity" />
        <activity android:name=".activity.stroke.StrokeFishercCassificationActivity" />
        <activity android:name=".activity.stroke.StrokeChadsActivity" />
        <activity android:name=".activity.score.PHIActivity" />
        <activity android:name=".activity.score.TSActivity" />
        <activity android:name=".activity.score.ISSActivity" />
        <activity android:name=".activity.score.TIActivity" />
    </application>

</manifest>